* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

.App {
  width: 51em;
  font-family: "Times New Roman", Times, serif;
}

#main-title {
  font-size: 5rem;
  text-align: center;
}

.labels {
  display: flex;
  width: 100%;
}

.break-session {
  width: 50%;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  border: solid;
  border-radius: 2rem;
  margin: 0 1em;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.aruuba {
  font-size: 3rem;
  flex-basis: 100%;
}

.aruuba.nom:hover {
  cursor: default;
}

.aruuba:hover {
  cursor: pointer;
}

.seedha {
  display: flex;
  justify-content: center;
}

.timer {
  margin-top: 0.5em;
  border-radius: 0.5em;
  width: 50%;
  text-align: center;
  font-size: 5rem;
  border: solid;
  padding: 0.3em 0;
}

#timer-label {
  display: flex;
  font-size: 4rem;
  justify-content: center;
}

#time-left {
  margin-bottom: 0.15em;
}

.timer-control {
  margin-top: 0.83em;
  font-size: 3rem;
}

.player {
  margin: 0 0.2em;
}

.player:hover {
  cursor: pointer;
}
